<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AttackerMasterPage.master.cs" Inherits="Attacker_AttackerMasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
         
         body {
              background-image: url(../Images/VM.jpg);
             /*background-image: radial-gradient(#66ff99, white, skyblue);*/
             background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
             height: 789px;
             
        }

        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            text-align: center;
            font-size: xx-large;
            height: 224px;
            color: #FF5050;
        }
        .auto-style3 {
            text-align: center;
        }
        .auto-style4 {
            height: 23px;
        }
        .auto-style5 {
            text-decoration: none;
        }
    </style>
</head>
<body>
     <br /><br /><br /><br />
          <h1 style="top:auto; text-align:center; "><h1 style="color:white;">A Systematic Approach To Threat Modeling And Security Analysis For Software Defined Networking</h1>
         <br /><br />
    <form id="form1" runat="server">
        <div>
           
        <table style="text-align:center">
            
            <tr>
                <td class="auto-style4" colspan="5"></td>
            </tr>
            <tr>
                 <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td class="auto-style3"><em>
                    <asp:HyperLink ID="HyperLink1" runat="server" CssClass="auto-style5" NavigateUrl="~/Attacker/AttackerHomePage.aspx"><h2 style="color:white;">HOME</h2></asp:HyperLink>
                    </em></td>
                <%-- <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td class="auto-style3"><em>
                    <asp:HyperLink ID="HyperLink2" runat="server" CssClass="auto-style5" NavigateUrl="~/Attacker/AttackerAccessingVM.aspx"><h2>ACCESSING VM</h2></asp:HyperLink>
                    </em></td>--%>
                 <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td class="auto-style3"><em>
                    <asp:HyperLink ID="HyperLink3" runat="server" CssClass="auto-style5" NavigateUrl="~/Attacker/AttackerAccessCS.aspx"><h2 style="color:white;"">ACCESSING CS</h2></asp:HyperLink>
                    </em></td>
                 <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td class="auto-style3"><em>
                    <asp:HyperLink ID="HyperLink4" runat="server" CssClass="auto-style5" NavigateUrl="~/HomePage.aspx"><h2 style="color:white;">LOGOUT</h2></asp:HyperLink>
                    </em></td>
            </tr>
            </table>
                
            </div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>