<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="SDN" connectionString="user Id=sa; password=123; Database=SystematicModeling; Data Source=USER; " providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>

    <add key="FromEmailAddress" value="sender emailaddress"/>
    <add key="FromEmailDisplayName" value="Display Name"/>
    <add key="FromEmailPassword" value="sender Password"/>
    <add key="SMTPHost" value="smtp-proxy.tm.net.my"/>
    <add key="SMTPPort" value="smptp Port"/>
  </appSettings>
</configuration>
